body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.logo {
  width: 90%;
  height: auto;
}

.logo-link {
  text-decoration: none;
}


header {
  background-color: #f0f0f0;
  padding: 20px;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.image-text {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.image-title {
  z-index: 1;
  color: #ffffff;
  font-size: 120px;
  margin-top: 250px;
  opacity: 30;
  animation: fade-in 2s ease forwards;
  font-family: "TDASansDisplay", "TDASansScreen", "Helvetica", "Arial", sans-serif;
  Georgia,
  'Times New Roman',
  Times,
  serif;
}

.image-sub {

  color: #ffffff;
  font-size: 24px;
  opacity: 50;
  animation: fade-in 5s ease forwards;
  font-family: "TDASansDisplay", "TDASansScreen", "Helvetica", "Arial", sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.next1 {
  background-color: #f7f7f7da;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


}

.ntitle {
  font-family: 'graphik-medium', Helvetica, Arial, sans-serif;
  font-size: 60px;
  margin-top: 100px;

  color: black;
  text-align: center;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-in-out;
}



/* Flip box container */
.flip-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Individual flip box */
.flip-box {
  width: 400px;
  height: 500px;
  perspective: 1000px;
  margin: 20px;
  box-shadow: 4px 4px 5px rgba(25, 61, 178, 0.2);
}

.flip-box:hover .flip-front {
  transform: rotateY(180deg);
}

.flip-box:hover .flip-back {
  transform: rotateY(0deg);
}

.flip-box:hover .flip-text {
  transform: none;

}

/* Flip box sides */
.flip-front,
.flip-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 1s;
}

.flip-front {
  background-color: #3c89db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-back {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  background-color: #ffffff;
  color: #3c89db;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.flip-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


.flip-image img {
  width: 100%;
  height: 100%;
  /* Make the image cover the entire container */
  object-fit: cover;
  /* Maintain aspect ratio while covering the container */
}

.flip-text {
  font-family: "Arial", sans-serif;
  /* Change font to Arial or any other preferred font */
  font-size: 25px;
  position: absolute;
  bottom: 0;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.95);
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}



/* Header styles */
.header {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Tab styles */
.tabs {
  font-family: "TDASansDisplay", "TDASansScreen", "Helvetica", "Arial", sans-serif;
  display: flex;
  align-items: center;
}

.tab {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.tab:hover {
  font-weight: 900;
}




/* scrollable cards */

.split-screen {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-side {
  width: 50%;
  background-color: #fffefe;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial", sans-serif;
  color: #3c89db;
}



.history-text p {
  font-size: 25px;
  color: #555;
  display: block;
}

.right-side {
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  background-color: #fffefe;
  font-family: "Arial", sans-serif;
}

.card-container {
  width: 100%;
  height: 300%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 50%;
  height: 200px;
  padding: 200px;
  margin: 10px;
  position: sticky;

  z-index: 1;
  top: 20px;

  border-radius: 40px;
  transition: transform 0.3s ease-in-out;

}

.card.card1 {
  z-index: 0;
  color: white;
  background-color: #033656;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.card.card2 {
  z-index: 1;
  transform: translateY(30px);
  color: white;
  background-color: #0a598a;
  font-size: 19px;
  text-align: center;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;

}

.card.card3 {
  z-index: 2;
  transform: translateY(60px);
  background-color: #067ac2;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;

}

.card.card4 {
  z-index: 3;
  transform: translateY(90px);
  background-color: #1b9ae9;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;

}


.card.card5 {
  z-index: 4;
  transform: translateY(120px);
  background-color: #60b7ee;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;

}

.card.card6 {
  z-index: 5;
  transform: translateY(150px);
  background-color: #8ec9ee;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;

}